
body{
background-image: url(./background-sns.jpeg);
background-repeat: no-repeat;
background-size: cover;
color: whitesmoke;
display: flex;
justify-content: center;

}

h1{
font-family: Bangers;
font-size: 80px;
line-height: 85px;
text-align: center;
margin:0px;
-webkit-text-stroke: 1.8px black;
font-style: italic;
}

.content{
    background-image: url(./background-sns.jpeg);
    color: black;
    background-color: rgb(243, 243, 243, 0.75);
    width: 90vw;
    height: 100vh;

}

input{
    font-size: 20px;
    width: 80%;
    height: fit-content;
    margin-top: 22px;
    margin-left: 20px;
    border-color: black;
    border-style:solid;
    text-align: center;
}


.top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

